<div class="donor-section">
  <div class='navbar-vertical'>
    <div class='navbar-brand'>
      <%= image_tag 'realistic-drops-red-blood-isolated-600nw-2444638227.webp',
        class: 'img-rounded me-3', style: 'width: 60px; height: 60px;', alt: 'Blood drops illustration' %>
      <h6 class='pt-3'><strong>VeinConnect</strong></h6>
    </div>
    <div class='navbar-links'>
      <%= link_to 'Find a Center', facilities_path %>
      <%= link_to 'Blood Requests', blood_requests_path  %>
      <%= link_to 'Donation History', donations_path %>
    </div>
  </div>
  <div class='container-fluid'>
    <div class='header'>
      <div class='header-text'>
        <h2>Welcome, <%= current_user.donor_profile.user.first_name %>!</h2>
        <p>Thank you for being a modern-day hero.</p>
      </div>
      <div class='header-search'>
        <button class="flex items-center justify-center gap-2 rounded-lg h-11 px-6 bg-primary text-white text-sm font-bold leading-normal tracking-wide shadow-sm hover:bg-primary/90 transition-colors">
          <i class="fa-solid fa-magnifying-glass"></i>
          <span class="truncate">Find a Donation Center</span>
        </button>
      </div>
    </div>
    <div class='cards-donation'>
      <div class='card'>
        <p>Urgent Requests in your region</p>
        <%# <%= @blood_requests %>
      </div>
      <div class='card'>
        <p>Your last Donation</p>
        <%# <%= @donation.created_at %>
      </div>
      <div class='card'>
        <p>Next Eligible Donation</p>
      </div>
    </div>
    <div class='cards-image'>
      <div class='card'>
        <h6><strong>Current Blood Requests</strong></h6>
        <p>View and respond to urgent needs from hospitals</p>
      </div>
      <div class='card'>
        <h6><strong>Hospitals in mauritius</strong></h6>
        <p>Find Donation centers and Hospitals near you.</p>
      </div>
      <div class='card'>
        <h6><strong>My Donation History</strong></h6>
        <p>See a log of all your past Life saving donations</p>
      </div>
    </div>
    <%= render partial: 'shared/map' %>
    <div class='card-footer'>
      <div class='card-text'>
        <h4>Your Donation Saves Lives</h4>
        <p>
          Every Pint of blood cans save up to three lives. Your
          Contribution is a heroic act that makes a real difference
          in our community. Thank you for your continued support.
        </p>
      </div>
      <div class='card-image'>
        <%= image_tag 'human-blood-donate-white-background_1308-111266.avif', class: 'footer-image' %>
      </div>
    </div>
  </div>
</div>
